<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cat.lenovogaming">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n"
        android:fullBackupContent="true">
        <activity
            android:name=".products_all.ProductDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tournaments.tournament_game_details.GameRegisteration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".events.EventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tournaments.tournament_game_details.TournamentGameDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tournaments.tournament_details.TournamentDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tournaments.TournamentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".promotions.PromotionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news_all.NewsDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".products_all.ProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news_all.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebBrowser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_register_forgot.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login_register_forgot.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>